/* MAIN */

.main {
    display: flex;
}

.top_blank {
    display: flex;
}


/* LOGO */

.logo {
    text-align: center;
}


/* SEARCHBOX */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


/* NAVIGATION BAR */

.top_nav {
    position: relative;
    top: 5px;
    right: 5px;
}

ul#top_nav_ul li {
    list-style-type: none;
    display: inline;
}

img#icon_menu {
    height: 25px;
    width: 25px;
}

img#icon_user {
    height: 35px;
    width: 35px;
}